@import "tailwindcss";

:root {
    --bg-primary: #232730;
    --surface-primary: #262a33;
}

body {
    background-color: var(--bg-primary);
    color: #e2e8f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #63b3ed;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 transparent;
}
